body{
    background-color: rgb(237, 168, 168);
    margin: 2px;
    border: 5px double black;
}


/* Heading  */


#head{
    width: 100%;
    height: 80vh;
    background-image: url(backH.jpg);
    background-size: cover;
    background-attachment: fixed;

}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#head li a{
    text-decoration: none;
    color: white;
}

#head h1{
    color: rgb(244, 239, 239);
    text-align: center;
    padding-top: 120px;
    text-shadow: 2px 2px 2px rgb(249, 0, 228);
    
}
#sec{
    padding-top: 20px;
    padding-left: 26%;
}

.lists{
    color: rgb(255, 255, 255);
    list-style: none;
    text-align: center;
}

.lists li{
    display: inline;
    margin: 10px;
}

.lists li:hover{
    text-decoration: underline;
    color: #fffdff;
    cursor: pointer;
    text-shadow: 2px -2px 4px rgb(235, 247, 248);
}

/* ICONS */

#icons li{
    display: inline;
    margin:20px;
}

/* MYPIC  */

#mypic {
    /* height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: 75px;
    align-items: center; */

    height: 15rem;
    width: 15rem;
    position: relative;
    margin: auto;
    margin-top: 3.5rem;
}



#mypic img{
    height: 100%;
    width:100%;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 4px rgb(212, 124, 124);
}

/* ABOUT */

#about{
    
    margin: 100px 50px 0 50px;

}
#about p{
    font-family: 'Times New Roman', Times, serif;
}

#address{
    line-height: 3px;

}
.heading{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 2px 3px 5px white;
    
}

/* EDUCATINAL DETAILS */
#details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 1000px;
}
.detailsB{
    width: 40%;
    margin: 1% 5% 1% 5%;
    height: auto;
    border: 2px dotted  red;
    background-color: lightblue;
   
}

.detailsB:hover{
    background-color: red;

}


/* Skills */

.skil_disply{
    display: flex;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skil{
    height: 1.5rem;
    width: 7rem;
    background-color: lightgrey;
   border-radius: 1.5rem;
}
.skil_name{
    color: white;
    font-weight: 100;
    padding-left: 0.5rem;
    padding-top: 0.1rem;
}

.seventy_five{
    width: 75%;
    height: inherit;
    background-color: rgb(0, 132, 255);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
}

.fifty{
    width: 40%;
    height: inherit;
    background-color: rgb(0, 132, 255);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
}

.seventy{
    width: 70%;
    height: inherit;
    background-color: rgb(0, 132, 255);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
}

.fourty{
    width: 40%;
    height: inherit;
    background-color: rgb(0, 132, 255);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;

}
.thirty_five{
    width: 35%;
    height: inherit;
    background-color: rgb(0, 132, 255);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
}

#habitsL{
    list-style: none;
}

#foot{
    height: 150px;
    width: 100%;
    background-color: rgb(195, 156, 197);
    padding-top: 50px;
}

#foot li a{
    text-decoration: none;
}
